@page "/home/{Id:int}/{Correo}/ReporteA"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTrac Reportes</PageTitle>
<TituloRosado Titulo="Reporte de objetivo de gastos" Subtitulo="Sección con reportes del espacio actual."></TituloRosado>

<div class="mt-4">
	<h3 class="text-lg font-medium mb-2">Objetivos de Gasto</h3>
	<div class="flex flex-col space-y-2">
		@if (objetivosDeGasto.Count == 0)
		{
			<div style="border: solid; border-color: #d4d4d4; width: 32%; border-radius:9px; left:0%; position:relative; align-items:center; justify-content:center">
				<h1 style="padding-left:5px">No hay transacciones que permitan esta operacion.</h1>
			</div>

		} else
		{
			<table class="min-w-full divide-y divide-gray-200">
				<thead class="bg-gray-50">
					<tr>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Objetivo
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Monto Esperado
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Monto Acumulado
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Cumple Objetivo
						</th>
					</tr>
				</thead>
				<tbody class="bg-white divide-y divide-gray-200">
					@foreach (var objetivo in objetivosDeGasto)
					{
						<tr>
							<td class="px-6 py-4 whitespace-nowrap">
								@objetivo.Objetivo.Titulo
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								$ @objetivo.MontoEsperado
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								$ @objetivo.MontoAcumulado
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								@CumpleMonto(objetivo)
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
	public Espacio espacio { get; set; }
	public List<ObjetivoGasto> objetivosDeGasto { get; set; }
	public string CumpleMonto(ObjetivoGasto og)
	{
		if (og.MontoCumpido())
		{
			return "Objetivo cumplido";
		} else
		{
			return "Objetivo no cumplido";
		}
	}

	protected override void OnInitialized()
	{
		espacio = EspacioLogic.FindEspacio(Persistencia.Id);
		Reporte reporte = new Reporte() { MiEspacio = espacio };
		objetivosDeGasto = reporte.ReporteObjetivosDeGastos();
	}
}