@page "/home/{Id:int}/{Correo}/Reportes"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Reportes</PageTitle>
<TituloRosado Titulo="Reportes del espacio" Subtitulo="Sección con reportes del espacio actual."></TituloRosado>
<EspacioActual></EspacioActual>
<div class="mb-4">
	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteA">Reporte de Objetivos</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteB">Reporte de Categorias</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteC">ReporteC</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteD">ReporteD</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteE">ReporteE</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteF">ReporteF</a>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
	<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th class="px-6 py-3">
					Titulo
				</th>
				<th class="px-6 py-3">
					Fecha
				</th>
				<th class="px-6 py-3">
					Monto
				</th>
				<th class="px-6 py-3">
					Moneda
				</th>
				<th class="px-6 py-3">
					Cuenta
				</th>
				<th class="px-6 py-3">
					Categoría
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
				<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
				</td>
				<td class="px-6 py-4">
				</td>
				<td class="px-6 py-4">
				</td>
				<td class="px-6 py-4">
				</td>
				<td class="px-6 py-4">
				</td>
				<td class="px-6 py-4">
				</td>
			</tr>
		</tbody>
	</table>
</div>

<p style="color:red">@ErrorMsg</p>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
}