@page "/home/{Id:int}/{Correo}/ReporteF"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Reportes</PageTitle>
<TituloRosado Titulo="Reporte de gasto por Categoría por mes" Subtitulo="Seccióne un mes"></TituloRosado>

<div class="mt-4">
	<h3 class="text-lg font-medium mb-2">Objetivos de Gasto</h3>
	<div class="flex flex-col space-y-2">
		<table class="min-w-full divide-y divide-gray-200">
			<thead class="bg-gray-50">
				<tr>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						Porcentaje
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						Nombre Categoria
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						Monto Usado
					</th>
				</tr>
			</thead>
			<tbody class="bg-white divide-y divide-gray-200">
				@foreach (var categoria in gastosCategoria)
				{
					<tr>
						<td class="px-6 py-4 whitespace-nowrap">
							@categoria.Porcentaje
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
							@categoria.Categoria.Nombre
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
							@categoria.MontoUsado
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
	public Espacio espacio { get; set; }
	public List<CategoriaGasto> gastosCategoria { get; set; }

	protected override void OnInitialized()
	{
		espacio = EspacioLogic.FindEspacio(Persistencia.Id);
		Reporte reporte = new Reporte() { MiEspacio = espacio };
		gastosCategoria = reporte.ReporteGastosCategoriaPorMes(10);
	}
}
