@page "/home/{Id:int}/{Correo}/CrearEspacio"
@inject NavigationManager NavigationManager

@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;


<PageTitle>FinTec Registro de Usuario</PageTitle>

<input @bind="inputNombre" type="text" placeholder="Nombre de Espacio">

<button @onclick="() => ClickCrearUsuario()">Crear Nuevo Espacio</button>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	[Parameter] public string inputNombre { get; set; }
	public List<Espacio> espacios { get; set; } = new List<Espacio>();
	public Usuario usuario { get; set; } = new Usuario();
	protected override void OnInitialized()
	{
		espacios = EspacioLogic.EspaciosByCorreo(Correo);
		usuario = UsuarioLogic.UsuarioByCorreo(Correo);
	}

	private void ClickCrearUsuario()
	{
		Espacio espacio = new Espacio()
			{
				Nombre = inputNombre,
				Admin = usuario,
			};
		EspacioLogic.AddEspacio(espacio);
		NavigationManager.NavigateTo($"/home/{Id}/{Correo}/Espacios");
	}
}
