@page "/home/{Id:int}/{Correo}/Espacios"
@inject NavigationManager NavigationManager

@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Registro de Usuario</PageTitle>

@foreach (var espacio in espacios)
{
	<div class="card">
		<div class="card-body">
			<h5 class="card-title"><strong>Nombre</strong>@espacio.Nombre</h5>
			<p class="card-text"><Strong>Admin:</Strong>@($"{espacio.Admin.Nombre} {espacio.Admin.Apellido}")</p>
			<button class="btn btn-primary" onclick="ClickCambiarEspacio(espacio)">Cambiar de Espacio</button>
			<button class="btn btn-primary">Cambiar Nombre</button>
		</div>
	</div>
}

<a class="btn btn-success btn-sm" href="/home/@Persistencia.Id/@Persistencia.Correo/CrearEspacios">Crear Espacio</a>


@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public List<Espacio> espacios { get; set; } = new List<Espacio>();

	protected override void OnInitialized()
	{
		espacios = EspacioLogic.EspaciosByCorreo(Persistencia.Correo);
	}

	public void ClickCambiarEspacio(Espacio espacio)
	{
		Persistencia.Id = espacio.Id;
		NavigationManager.NavigateTo($"/home/{Persistencia.Id}/{Persistencia.Correo}");
	}
}
