@page "/home/{Id:int}/{Correo}/Espacios"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Registro de Usuario</PageTitle>
<EspacioActual></EspacioActual>

@foreach (var espacio in espacios)
{
	<div class="card">
		<div class="card-body">
			<h5 class="card-title"><strong>Nombre</strong>@espacio.Nombre</h5>
			@if (espacio.Admin.Correo == Persistencia.Correo)
			{
				<p>Soy admin</p>
			}
			<p class="card-text"><Strong>Admin:</Strong>@($"{espacio.Admin.Nombre} {espacio.Admin.Apellido}")</p>
			<button class="btn btn-primary" @onclick="() => ClickCambiarEspacio(espacio)">Cambiar de Espacio</button>
			@if (espacio.Admin.Correo == Persistencia.Correo)
			{
				<button class="btn btn-primary" @onclick="MostrarInput">Cambiar Nombre</button>
				@if (mostrarInput)
				{
					<input type="text" @bind="nuevoNombre" />
					<p style="color:red">@ErrorMsg</p>
					<button class="btn btn-primary" @onclick="() => CambiarNombre(espacio)">Guardar</button>
				}
			}
		</div>
	</div>
}

<a class="btn btn-success btn-sm" href="/home/@Persistencia.Id/@Persistencia.Correo/CrearEspacios">Crear Espacio</a>



@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public List<Espacio> espacios { get; set; } = new List<Espacio>();
	public Usuario usuario { get; set; } = new Usuario();
	public string? ErrorMsg { get; set; };
	protected override void OnInitialized()
	{

		espacios = EspacioLogic.EspaciosByCorreo(Correo);
		usuario = UsuarioLogic.UsuarioByCorreo(Correo);
	}

	private void ClickCambiarNombre(Espacio espacio)
	{
		// Cambiar el nombre del espacio
		espacio.Nombre = "HOLA";

		// Redireccionar a otra página
		string newHref = $"/home/{Id}/{Correo}/Espacios";
		NavigationManager.NavigateTo(newHref);
	}

	public void ClickCambiarEspacio(Espacio espacio)
	{
		Persistencia.Id = espacio.Id;
		NavigationManager.NavigateTo($"/home/{Persistencia.Id}/{Persistencia.Correo}");
		Console.WriteLine("ClickCambiarEspacio ejecutado"); // Agrega esta línea
	}

	private bool mostrarInput = false;
	private string nuevoNombre = string.Empty;

	private void MostrarInput()
	{
		mostrarInput = !mostrarInput;
	}

	private void CambiarNombre(Espacio espacio)
	{
		try
		{
			espacio.Nombre = nuevoNombre;
			NavigationManager.NavigateTo($"/home/{Persistencia.Id}/{Persistencia.Correo}");
			ErrorMsg = "";
		}
		catch (DomainEspacioException e)
		{
			ErrorMsg = e.Message;
		}
		mostrarInput = false;
	}
}
