@inject NavigationManager NavigationManager;
@using BussinesLogic;
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

@page "/home/{Id:int}/{Correo}"

<PageTitle>FinTec Home</PageTitle>
<h1>Bienvenido a FinTec</h1>
<EspacioActual></EspacioActual>

@code {
	[Parameter]
	public int Id { get; set; }
	[Parameter]
	public string Correo { get; set; }
}
