@inject NavigationManager NavigationManager;
@using BussinesLogic;
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@using Domain

@page "/home/{Id:int}/{Correo}"

<PageTitle>FinTec Home</PageTitle>


@foreach (var espacio in Espacios)
{
        <tr>
            <td>Espacio: @espacio.Nombre</td>
            <td>Nombre del Admin: @espacio.Admin.Nombre</td>

                <button class="btn btn-danger btn-sm">Eliminar</button>
       </tr>
        
}

@code {
	[Parameter]
	public int Id { get; set; }
	[Parameter]
	public string Correo { get; set; }
	public List<Espacio>? Espacios { get; set; }

	protected override void OnInitialized()
	{
		Espacios = EspacioLogic.EspaciosByCorreo(Correo);
	}




}
