@inject NavigationManager NavigationManager;
@using BussinesLogic;
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@using Domain

@page "/home/{Id}/{Correo}"

<PageTitle>FinTec Home @Correo</PageTitle>
<p>Id: @Id</p>
<p>Correo: @Correo</p>

@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public string Correo { get; set; }

    // Resto del código de la página...
}

}