@page "/home/{Id:int}/{Correo}/CrearTransaccion"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Agregar Tipo Cambiario</PageTitle>
<EspacioActual></EspacioActual>

<h1>Crear Transacción:</h1>

<form>
    <div class="form-group">
        <label for="categoria">Categoría:</label>
        <select class="form-control" id="categoria" @onchange="SeleccionarCategoria">
            @foreach (Categoria categoria in EspacioLogic.FindEspacio(Persistencia.Id).Categorias)
            {
                <option value="@categoria.Nombre">@categoria.Nombre</option>
            }
        </select>

    </div>

    <div class="form-group">
        <label for="cuenta">Cuenta:</label>
        <select class="form-control" id="cuenta" @onchange="SeleccionarCuenta">
            @foreach (Cuenta cuenta in EspacioLogic.FindEspacio(Persistencia.Id).Cuentas)
            {
                <option value="@cuenta.Moneda">@cuenta.Moneda.ToString()</option>
            }
        </select>
    </div>

    <button type="button" class="btn btn-primary" @onclick="GenerarTransaccion">Crear Transacción</button>
</form>



@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
    private int IdCategoriaSeleccionada;
    private int IdCuentaSeleccionada;
    public Espacio espacioActual { get; set; }

    private void GenerarTransaccion(){

 
        }
    private void SeleccionarCategoria(ChangeEventArgs e)
    {
        //IMPLEMENTAR
    }

    private void SeleccionarCuenta(ChangeEventArgs e)
    {
        //IMPLEMENTAR
    }

}
