@page "/home/{Id:int}/{Correo}/CrearTransaccion"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Agregar Tipo Cambiario</PageTitle>
<EspacioActual></EspacioActual>

<h1>Crear Transacción:</h1>


<button type="button" class="btn btn-primary" >Crear Transacción</button>


@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }

}
