@page "/home/{Id:int}/{Correo}/Categorias"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Registro de Usuario</PageTitle>
<EspacioActual></EspacioActual>

@foreach (var categoria in EspacioLogic.FindEspacio(Persistencia.Id).Categorias)
{
	<div class="card">
		<div class="card-body">
			<h5 class="card-title"><strong>Nombre de la Categoría:</strong> @categoria.Nombre</h5>
			<p><strong>Fecha de creación:</strong>@categoria.FechaCreacion</p>
			@if (categoria.Tipo == TipoCategoria.Ingreso)
			{
				<p><strong>Tipo de Ingreso:</strong> Ingreso</p>
			}
			else if (categoria.Tipo == TipoCategoria.Costo)
			{
				<p><strong>Tipo de Ingreso:</strong> Costo</p>
			}
			<p><strong>Estado:</strong> @(categoria.EstadoActivo ? "Activo" : "Inactivo")</p>
			@if (activadoModificar)
			{
				<div class="form-group">
					<label>Tipo de Ingreso:</label>
					<select class="form-control" @bind="tipoIngresoSeleccionado">
						<option value="Ingreso">Ingreso</option>
						<option value="Costo">Costo</option>
					</select>
				</div>

				<div class="form-group">
					<label>Estado:</label>
					<select class="form-control" @bind="estadoSeleccionado">
						<option value="Activa">Activa</option>
						<option value="Inactiva">Inactiva</option>
					</select>
				</div>
			}
			<p style="color:red">@ErrorMsg</p>
			<button class="btn btn-primary" @onclick="() => ModificarCategoria(categoria)">Modificar</button>
			<p>
				<a class="btn btn-danger btn-sm" @onclick="() => EliminarCategoria(categoria)" href="/home/@Persistencia.Id/@Persistencia.Correo/Categorias">Eliminar</a>
			</p>
		</div>
	</div>
}

<a class="btn btn-success btn-sm" href="/home/@Persistencia.Id/@Persistencia.Correo/CrearCategorias">Crear Categoria Nueva</a>


@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
	public bool activadoModificar { get; set; } = false;
	public string tipoIngresoSeleccionado = "Ingreso";
	public string estadoSeleccionado = "Activa";
	private bool estadoActivo;
	private TipoCategoria tipo;

	private void ModificarCategoria(Categoria categoria)
	{


		switch (estadoSeleccionado)
		{
			case "Activa":
				estadoActivo = true;
				break;
			case "Inactiva":
				estadoActivo = false;
				break;
		}

		switch (tipoIngresoSeleccionado)
		{
			case "Ingreso":
				tipo = TipoCategoria.Ingreso;
				break;
			case "Costo":
				tipo = TipoCategoria.Costo;
				break;
		}

		try
		{
			categoria.EstadoActivo = estadoActivo;
			categoria.Tipo = tipo;
		}
		catch (DomainEspacioException e)
		{
			ErrorMsg = e.Message;
		}
		activadoModificar = !activadoModificar;
	}

	private void EliminarCategoria(Categoria categoria)
	{
		try
		{
			EspacioLogic.FindEspacio(Id).BorrarCategoria(categoria);
		}
		catch (DomainEspacioException e)
		{
			ErrorMsg = e.Message;
		}
	}
}
