@page "/home/{Id:int}/{Correo}/CrearCategorias"
@inject NavigationManager NavigationManager

@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Crear Categorias</PageTitle>
<TituloRosado Titulo="Cree una categoría." Subtitulo="Cree la categoría para el espacio seleccionado."></TituloRosado>
<EspacioActual></EspacioActual>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<table class="table">
				<tr>
					<td><label for="nombreCategoria">Nombre de la Categoría:</label></td>
					<td><input type="text" id="nombreCategoria" class="form-control" @bind="nombreCategoria" /></td>
				</tr>
				<tr>
					<td><label>Tipo de Ingreso:</label></td>
					<td>
						<select class="form-control" @bind="tipoIngresoSeleccionado">
							<option value="Ingreso">Ingreso</option>
							<option value="Costo">Costo</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Estado:</label></td>
					<td>
						<select class="form-control" @bind="estadoSeleccionado">
							<option value="Activa">Activa</option>
							<option value="Inactiva">Inactiva</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Fecha de Creación:</label></td>
					<td><input type="date" class="form-control" @bind="fechaCreacion"></td>
				</tr>
			</table>
			<p style="color:red">@ErrorMsg</p>
			<button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
			@onclick="ClickCrear">
				Crear Categoría
			</button>
		</div>
	</div>
</div>




@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	private string ErrorMsg = "";
	private string tipoIngresoSeleccionado = "Ingreso";
	private string estadoSeleccionado = "Activa";
	private string nombreCategoria;
	private bool estadoActivo;
	private TipoCategoria tipo;
	private DateTime fechaCreacion = DateTime.Today;

	private void ClickCrear()
	{
		switch (estadoSeleccionado)
		{
			case "Activa":
				estadoActivo = true;
				break;
			case "Inactiva":
				estadoActivo = false;
				break;
		}

		switch (tipoIngresoSeleccionado)
		{
			case "Ingreso":
				tipo = TipoCategoria.Ingreso;
				break;
			case "Costo":
				tipo = TipoCategoria.Costo;
				break;
		}
		try
		{
			Categoria nuevaCategoria = new Categoria
				{
					Nombre = nombreCategoria,
					Tipo = tipo,
					EstadoActivo = estadoActivo,
					FechaCreacion = fechaCreacion
				};

			try
			{
				Espacio espacioActual = EspacioLogic.FindEspacio(Persistencia.Id);
				espacioActual.AgregarCategoria(nuevaCategoria);
				string newHref = $"/home/{Id}/{Correo}/Categorias";
				NavigationManager.NavigateTo(newHref);
			}
			catch (DomainCategoriaException e)
			{
				ErrorMsg = e.Message;
			}
		}
		catch (DomainCategoriaException e)
		{
			ErrorMsg = e.Message;

		}
		Console.WriteLine(tipo);
	}
}