@page "/home/{Id:int}/{Correo}/TipoCambiario"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Tipo Cambiario</PageTitle>
<EspacioActual></EspacioActual>
<h1>Lista de Tipos Cambiario del espacio actual:</h1>
<table>
	<thead>
		<tr>
			<th>Moneda</th>
			<th>Valor En Pesos Uruguayos</th>
			<th>Fecha </th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cambio in EspacioLogic.FindEspacio(Persistencia.Id).Cambios)
		{
			<tr>
				<td>@cambio.Moneda</td>
				<td>@cambio.Pesos</td>
				<td>@cambio.FechaDeCambio</td>
				<td>
					<button class="btn btn-primary" @onclick="() => SeleccionarCambioAEliminar(cambio)">Eliminar</button>
				</td>
			</tr>
		}
	</tbody>
</table>
<a class="btn btn-primary" href="/home/@Persistencia.Id/@Persistencia.Correo/AgregarTipoCambiario">Agregar Tipo Cambiario</a>
<p style="color:red">@ErrorMsg</p>



@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }

	private void AgregarCambio()
	{
		try
		{
		}
		catch (Exception ex)
		{
			ErrorMsg = ex.Message;
		}
	}

	private Cambio CambioAEliminar;

	private void SeleccionarCambioAEliminar(Cambio cambio)
	{
		CambioAEliminar = cambio;
		EliminarCambio();
	}
	private void SeleccionarCambioModificar(Cambio cambio)
	{
		CambioAEliminar = cambio;
	}

	private void EliminarCambio()
	{
		try
		{
			if (CambioAEliminar != null)
			{
				EspacioLogic.FindEspacio(Persistencia.Id).Cambios.Remove(CambioAEliminar);
				CambioAEliminar = null;
			}
		}
		catch (Exception ex)
		{
			ErrorMsg = ex.Message;
		}
	}
}