@page "/home/{Id:int}/{Correo}/InvitarUsuarios"
@using Controlador;
<PageTitle>FinTrac Usuarios</PageTitle>
<TituloRosado Titulo="Invitar Usuarios de FinTrac" Subtitulo="Si es administrador puede eliminar y invitar usuarios."></TituloRosado>
<EspacioActual></EspacioActual>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
	<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Nombre
				</th>
				<th scope="col" class="px-6 py-3">
					Correo
				</th>
				<th scope="col" class="px-6 py-3">
					Acciones
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var usuario in usuariosNoPresentes)
			{
				@if (!EspacioLogic.FindEspacio(Persistencia.Id).PerteneceCorreo(usuario.Correo) && EspacioLogic.FindEspacio(Persistencia.Id).Admin.Correo.Equals(Persistencia.Correo))
				{
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
						<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
							@usuario.Nombre
						</td>
						<td class="px-6 py-4 font-medium">
							@usuario.Correo
						</td>
						<td>
							<button class="bg-blue-500 text-white text-xs font-medium px-2 py-1 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800 ml-2"
							@onclick="() => AgregarUsuario(usuario)">
								Agregar Usuario
							</button>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
	private ControladorUsuarios controlador;
	private List<UsuarioDTO> usuariosNoPresentes;

	protected override void OnInitialized()
	{
		controlador = new ControladorUsuarios(UsuarioLogic, EspacioLogic);
		usuariosNoPresentes = controlador.DatosUsuariosNoPresentesEspacio(Persistencia.Id);
	}

	private void AgregarUsuario(UsuarioDTO usuarioDTO)
	{
		controlador.AgregarUsuarioAEspacio(Persistencia.Id, usuarioDTO.Correo);
		usuariosNoPresentes = controlador.DatosUsuariosNoPresentesEspacio(Persistencia.Id);
		NavigationManager.NavigateTo($"/home/{Id}/{Correo}/InvitarUsuarios");
	}
}