@page "/{objetivoId:int}/{MontoMaximo:double}/{Id:int}/objetivo/{Token}"
@inject ControladorObjetivos controlador;
@layout LoginLayout
<PageTitle>FinTrac Objetivos</PageTitle>
<TituloRosado Titulo="Objetivo de gasto"></TituloRosado>

@if (objetivo != null)
{
	@if (objetivo.Token == Token)
	{
		<ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
			<div class=" px-4 pt-4 mb-5">
				<div class="flex flex-col pb-10">
					<h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
						El objetivo de @nombreAdmin
					</h5>
					<p class="text-sm text-gray-500 dark:text-gray-400">
						Categoria: @foreach (var categoria in objetivo.Categorias)
						{
							<span class="bg-pink-100 text-pink-800 text-xs font-medium mr-2 px-2.5 py-0.5
								rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">
								@categoria.Nombre
							</span>
						}
					</p>

					<p class="text-sm text-gray-500 dark:text-gray-400">
						Objetivo: Gastar menos de $
						<span class="bg-pink-100 text-pink-800 text-xs font-medium mr-2 px-2.5 py-0.5
							rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">
							@objetivo.MontoMaximo
						</span>
					</p>

					<p class="text-sm text-gray-500 dark:text-gray-400">
						Gastado actualmente: $
						<span class="bg-pink-100 text-pink-800 text-xs font-medium mr-2 px-2.5 py-0.5
							rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">
							@montoAcumulado
						</span>
					</p>
				</div>
			</div>
		</ul>
	}
	else
	{
		<br />
		<div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
			<svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
			</svg>
			<div>
				<strong>Error al compartir objetivo de gasto</strong>
				<p>Lo sentimos, el token utilizado no está disponible</p>
			</div>
		</div>
	}
}

@code
{
	[Parameter] public int Id { get; set; }
	[Parameter] public string Token { get; set; }
	[Parameter] public double MontoMaximo { get; set; }
	[Parameter] public int objetivoId { get; set; }
	private ObjetivoDTO objetivo;
	private double montoAcumulado = 0;
	private List<ObjetivoDTO> objetivos = new List<ObjetivoDTO>();
	private string nombreAdmin;

	protected override void OnInitialized()
	{
		objetivos = controlador.ObjetivosDeEspacio(Id);
		objetivo = objetivos.FirstOrDefault(o => o.Id == objetivoId);
		var objetivosDeGasto = controlador.ObjetivosDeGastos(Id, objetivoId);
		foreach (var objetivoGasto in objetivosDeGasto)
		{
			if (objetivoGasto.Objetivo.Id == objetivo.Id)
			{
				if (objetivoGasto.MontoAcumulado != null)
				{
					montoAcumulado = objetivoGasto.MontoAcumulado;
				}
			}
		}
		nombreAdmin = controlador.EspacioActual(Id);
	}
}