@page "/home/{Id:int}/{Correo}/TipoCambiario"
@inject ControladorCambios controlador;

<PageTitle>FinTrac Tipo Cambiario</PageTitle>
<TituloRosado Titulo="Tipo Cambiario del espacio."
			  Subtitulo="Aquí encontrar los tipos cambiarios disponibles para el espacio."></TituloRosado>
<EspacioActual></EspacioActual>

<div class="mb-4">
	<a class="mb-5 mt-4 text-white bg-gradient-to-br from-pink-500 to-orange-400
		hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800
		font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/AgregarTipoCambiario">Agregar Tipo Cambiario</a>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
	<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Moneda
				</th>
				<th scope="col" class="px-6 py-3">
					Valor En Pesos Uruguayos
				</th>
				<th scope="col" class="px-6 py-3">
					Fecha
				</th>
				<th scope="col" class="px-6 py-3">
					Acciones
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var cambio in cambios)
			{
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700
						hover:bg-gray-50 dark:hover:bg-gray-600">
					<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
						@cambio.Moneda
					</td>
					<td class="px-6 py-4">
						@cambio.Pesos
					</td>
					<td class="px-6 py-4">
						@cambio.FechaDeCambio
					</td>
					<td class="px-6 py-4">
						<button class="bg-blue-500 text-white text-xs font-medium px-2 py-1 rounded-lg
									hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-200
									dark:focus:ring-blue-800 ml-2"
						@onclick="() => SeleccionarCambioModificar(cambio)">
							Modificar
						</button>
					</td>
				</tr>
				@if (modificarValor && cambioModificar == cambio)
				{
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50
								dark:hover:bg-gray-600">
						<td class="px-6 py-4" colspan="3">
							<p style="color:red">@ErrorMsg</p>
							<label for="idModificar" class="block font-medium text-gray-900
										dark:text-white">Modificar Valor:</label>
							<input id="idModificar" type="number"
							@bind="inputValor" class="w-full border-gray-300 dark:border-gray-600 rounded-lg
										focus:ring-2 focus:ring-pink-500 focus:border-transparent
										dark:focus:ring-pink-900 dark:focus:border-transparent px-3 py-2 mt-1" />
						</td>
						<td class="px-6 py-4">
							<button class="bg-blue-500 text-white text-xs font-medium px-2 py-1 rounded-lg
									hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-200
									dark:focus:ring-blue-800"
							@onclick="() => ModificarValor(cambio)">
								Modificar
							</button>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	private string ErrorMsg { get; set; }
	private double inputValor { get; set; }
	private bool modificarValor { get; set; } = false;
	private CambioDTO cambioModificar;
	private List<CambioDTO> cambios;

	protected override void OnInitialized()
	{
		cambios = controlador.CambiosDeEspacio(Persistencia.Id);
	}

	private void LimpiarInputs()
	{
		inputValor = 0;
		ErrorMsg = "";
	}

	private void SeleccionarCambioModificar(CambioDTO cambio)
	{
		modificarValor = !modificarValor;
		cambioModificar = cambio;
		LimpiarInputs();
	}

	private void ModificarValor(CambioDTO cambio)
	{
		cambioModificar.Pesos = inputValor;
		ErrorMsg = controlador.ModificarCambio(Id, cambioModificar);
		if (cambioModificar != null && ErrorMsg == "")
		{	
			modificarValor = !modificarValor;
			LimpiarInputs();
		}
	}
}