@page "/home/{Id:int}/{Correo}/Usuarios"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Registro de Usuario</PageTitle>
<EspacioActual></EspacioActual>
<h1>Lista de usuarios en el espacio actual:</h1>
@* <table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Correo</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var usuario in UsuarioLogic.GetUsuarios())
		{
			<tr>
				<td>@usuario.Nombre</td>
				<td>@usuario.Correo</td>
				<td>
					<button class="btn btn-primary">Eliminar</button>
				</td>
			</tr>
		}
	</tbody> *@
<p style="color:red"></p>
<a class="btn btn-primary" href="/home/@Persistencia.Id/@Persistencia.Correo/InvitarUsuarios">Invitar Usuarios</a>



@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }

}
