@page "/home/{Id:int}/{Correo}/Reportes"
@inject NavigationManager NavigationManager;

<PageTitle>FinTrac Reportes</PageTitle>
<TituloRosado Titulo="Reportes del espacio" Subtitulo="Sección con reportes del espacio actual."></TituloRosado>
<EspacioActual></EspacioActual>
<div class="mb-4" style="padding-top: 15px; position:relative; display:flex; justify-content:center; align-items:center">
	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteA">Reporte de Objetivos</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteB">Reporte de Categorias</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteC">Listado de Gastos</a>


</div>

<div class="mb-4" style="padding-top: 15px; position:relative; display:flex; justify-content:center; align-items:center">

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteD">Reporte de Gastos por Tarjeta</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteE">Balance de Cuentas</a>

	<a class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
	   href="/home/@Persistencia.Id/@Persistencia.Correo/ReporteF">Reporte Ingresos Egresos</a>
</div>

<p style="color:red">@ErrorMsg</p>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
}