<Nav />
<Aside/>
@code{
    public string? hola { get; set; }
}
<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 my-4 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <div class="grid grid-cols-3 gap-4 mb-4">

        </div>
    </div>
</div>
